.match_container {
  border: solid 1px #999;  
  margin: 4px;
  padding: 2px;
  padding-left: 3px;
  cursor: pointer;
}

.search_term {
  color: #aa2211;
}

.message_upper_context {
  background-color: #cdcdcd;
  display: none;
}

.message_lower_context {
  background-color: #cdcdcd;
  display: none;
}

.message_upper_context .message {
  border: none;
}

.message_lower_context .message {
  border: none;
}