<div class="message">
  <div class="message_created_at"><%= time_ago_in_words(message.created_at) %></div>
  <div class="message_author"><%= message.author %></div>
  <div class="message_body"><%= message.body %></div>
  <div style="clear: both;"></div>
</div>
